.hero{
    .hero-img{
      object-position: 0% 60%;
    }
}
.slick-list{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width:fit-content;
}
.hero-section{
 .alice-carousel__dots {
  display: none !important;
}
}
@media only screen and (min-width:320px) and (max-width:480px){
  
}
